{% extends "indice.html"%}
{% block content %}
    <h1 style="font-family: Georgia, serif; color: lightgreen;"> CARRITO </h1>
    <form class="" action="/mi_tienda/vercarrito/" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Nombre de usuario" name="user" value=""/>
    <input type="submit" value="OK"/>
    </form>

    {% if ok %}
    <h1 style="font-family: Georgia, serif; color: lightgreen;"> SU PEDIDO: {{pedido}}</h1>
    <br>
    <h2  style="font-family: Georgia, serif; color: lightgreen;" > PRECIO: {{precio}} € </h2>
    {% endif %}
{% endblock %}
