<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <title> ÍNDICE TIENDA PABLO</title>
    </head>
    <body background="/static/background.jpg" style="background-size: cover">
    <div id="navegador">
    <ul>
    <li><a href="/mi_tienda/list"> PRECIOS Y STOCK</a></li>
    <li><a href="/mi_tienda/formu"> COMPRAR </a></li>
    <li><a href="#">Elemento 3</a></li>
    <li><a href="#">Elemento 4</a></li>
    </ul>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
